h1 {
  display: flex;
  justify-content: center;
  border: double rgb(12, 12, 12) 6px;
  background-color: rgb(104, 226, 24);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgb(12, 11, 11);
  border-radius: 1em;
  padding: 5px;
}
