.hidden {
  display: none;
}

.card__bookmark-marked {
  border: double white 8px;
  border-radius: 1em;
}

.nav-button {
  background: none;
  border: none;
}

.markedBookmark {
  content: url('../Images/outline_bookmark_black_24dp.png');
}
