.card {
  position: relative;
  border-top: 5px solid #484848;
  border-bottom: 5px solid #484848;
  background-color: rgb(24 226 206 /95%);
  box-shadow: rgba(0 0 0 35%) 0 5px 15px;
  color: #333;
  border-radius: 1em;
  padding: 10px;
  margin: 80px 80px 100px;
}
@media screen and (max-width: 600px) {
  .card {
    padding: 5px;
    margin: 80px 30px 100px;
  }
}

.card__bookmark {
  position: absolute;
  top: -25px;
  right: 10px;
  width: 60px;
}

.card__topic {
  font-size: 35px;
  margin: 20px;
}

@media screen and (max-width: 600px) {
  .card__topic {
    font-size: 20px;
    margin: 10px;
  }
}

.card__quest {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: azure;
  padding: 10px;
  border-radius: 1em;
}
@media screen and (max-width: 600px) {
  .card__quest {
    font-size: 13px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.card__button {
  display: flex;
  justify-content: center;
}

button {
  border: double #333 3px;
  border-radius: 1em;
  box-shadow: rgba(0 0 0 35%) 0 5px 15px;
  padding: 15px;
  font-size: 18px;
  color: rgb(242 242 242);
  background-color: #333;
}
@media screen and (max-width: 600px) {
  button {
    font-size: 13px;
    padding: 5px;
    margin-bottom: 5px;
  }
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .card__tags {
    margin: 10px;
  }
}

.card__tags__hashtag {
  border: 3px solid #484848;
  border-radius: 1em;
  box-shadow: rgba(0 0 0 35%) 0 5px 15px;
  background-color: azure;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .card__tags__hashtag {
    font-size: 10px;
    padding: 5px;
  }
}
