.card {
  border: solid black 3px;
}
.mainpart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.quest {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button {
  display: flex;
  justify-content: center;
  margin: 20px;
}
button {
  width: 100px;
}
.tags {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.hashtag {
  border: solid black 1px;
}
