<footer>
  <img
    alt="homeicon"
    class="homeicon"
    src="https://cdn-icons-png.flaticon.com/512/25/25694.png"
  />
  <img
    alt="bookmarkicon"
    class="bookmarkicon"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/OOjs_UI_icon_bookmark.svg/1200px-OOjs_UI_icon_bookmark.svg.png"
  />
  <img
    alt="texticon"
    class="texticon"
    src="https://icon-library.com/images/text-icon/text-icon-17.jpg"
  />
  <img
    alt="profileicon"
    class="profilicon"
    src="https://image.flaticon.com/icons/png/512/64/64572.png"
  />
</footer>
